.App {
    margin: 0 auto;
    width: 100vw;
    background: #fff;
    box-shadow: 0 0 32px rgb(0 0 0 / 5%);
    border: 1px solid transparent;
    opacity: 1;
}
.title>div:nth-child(2){
    cursor: pointer;
    width: 90px;
    height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333;
    text-align: center;
}
.title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title>div:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.title>div:first-child>div:first-child{
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #333;
    margin-right: 10px;
}
.title>div:first-child>div:nth-child(2) {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 20px;
    color: #919191;
}

.pay {
    margin-top: 34px;
    padding: 0 10px;
}
.payMtd{
    margin: 0;
    padding: 0;
}
.payMtdTitle{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #919191;
}
.payMtd>div:nth-child(2){
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.payMtd>div:nth-child(2)>div{
    cursor: pointer;
    width: 132px;
    height: 100px;
    margin-right: 22px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative;
}
.payMtd>div:nth-child(2)>div>div:first-child{
    width: 36px;
    height: 36px;
    margin: 23px auto 0;
}
.payMtd>div:nth-child(2)>div>div:first-child>img{
    width: 100%;
    height: 100%;
}
.payMtd>div:nth-child(2)>div>div:nth-child(2){
    margin-top: 3px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}
.payMtdActive{
    border: 1px solid #c54836;
    box-shadow: 0 3px 6px #ffd4cc;
}
.payMtdActive>div:nth-child(3){
    display: block;
}
.payMtdChoose{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 16px;
}
.payMtdChoose>img{
    width: 100%;
    height: 100%;
}
.main{
    margin: 0;
    padding: 0;
}
.default>div{
    margin-top: 27px;
}
.default>div>div:first-child{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}
.default>div>div:nth-child(2):not(.numList){
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.default>div>div:nth-child(2):not(.numList)>div:first-child{
    box-sizing: border-box;
    width: 286px;
    height: 40px;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 12px;
}

.default>div>div:nth-child(2):not(.numList)>div:first-child>input{
    text-align: left;
    width: 260px;
    height: 30px;
}
.default>div>div:nth-child(2):not(.numList)>div:nth-child(2){
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #919191;
}
.default>div>div:nth-child(2):not(.numList)>div:nth-child(2)>img{
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
.default>div>div:nth-child(3)>div:first-child{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}
.numList{
    display: block;
}
.numList>div:first-child{
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.numList>div:first-child>div{
    cursor: pointer;
    width: 131px;
    height: 79px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative;
    margin: 0 20px 20px 0;
}
.numList>div:first-child>div{
    cursor: pointer;
    width: 131px;
    height: 79px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative;
    margin: 0 20px 20px 0;
}
.numList>div:first-child>div>div:first-child{
    text-align: center;
    line-height: 79px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.numList>div:first-child>div>div:nth-child(2)>img{
    width: 100%;
    height: 100%;
}
.numListActive{
    border: 1px solid #c54836;
    box-shadow: 0 3px 6px #ffd4cc;
}
.numListActive>div:nth-child(2){
    display: block;
}
.numListActive>div:nth-child(2)>img{
    width: 100%;
    height: 100%;
}
.numListChoose{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 16px;
}
.numListChoose>img{
    width: 100%;
    height: 100%;
}
.numList>div:nth-child(2){
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.numList>div:nth-child(2)>div:first-child{
    box-sizing: border-box;
    width: 286px;
    height: 40px;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 12px;
}
.numList>div:nth-child(2)>div:first-child>input{
    text-align: left;
    width: 260px;
    height: 30px;
}
.numList>div:nth-child(2)>div:nth-child(2){
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #919191;
}
.numList>div:nth-child(2)>div:nth-child(2)>img{
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
.bnt{
    margin-top: 30px;
    width: 286px;
    height: 50px;
    background: #ffb4a1;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px;
    pointer-events: none
}
.bntActive{
    pointer-events: auto;
    cursor: pointer;
    background: linear-gradient(90deg,#ff7c27,#ff3e13);
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -180px;
    margin-left: -150px;
    border-radius: 10px;
    background: #fff;
    padding: 15px 20px;
}
.popup>div:first-child{
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #333;
}
.popup>div:nth-child(2){
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
    text-align: left;
}
.popup>div:nth-child(2)>img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.popup>div:nth-child(3){
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup>div:nth-child(3)>div{
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
}
.popup>div:nth-child(3)>div:nth-child(2){
    color: #fff;
    background: linear-gradient(90deg,#ff7c27,#ff3e13);
}
.popup>div:nth-child(4){
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    transition: all .3s;
}
.popup>div:nth-child(4)>img{
    width: 100%;
    height: 100%;
}
.maskHide{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}
.popupHide{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}
