
.pc {
    margin: 40px auto;
    padding: 50px;
    width: 1000px;
    height: 818px;
    background: #fff;
    box-shadow: 0 0 32px rgba(0, 0, 0, .05);
    border: 1px solid transparent;
    opacity: 1
}

.pc > .title {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pc > .title > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}

.pc > .title > div:first-child > div:first-child {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #333;
    margin-right: 10px
}

.pc > .title > div:first-child > div:nth-child(2) {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 20px;
    color: #919191
}

.pc > .title > div:nth-child(2) {
    cursor: pointer;
    width: 90px;
    height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333;
    text-align: center
}

.pc .pay {
    margin-top: 34px
}

.pc .pay > div.pay-mtd > div.title {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #919191
}

.pc .pay > div.pay-mtd > div.title + div {
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap
}

.pc .pay > div.pay-mtd > div.title + div > div {
    cursor: pointer;
    width: 132px;
    height: 100px;
    margin-right: 22px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative
}

.pc .pay > div.pay-mtd > div.title + div > div > div:first-child {
    width: 36px;
    height: 36px;
    margin: 23px auto 0
}

.pc .pay > div.pay-mtd > div.title + div > div > div:nth-child(2) {
    margin-top: 3px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333
}

.pc .pay > div.pay-mtd > div.title + div > div > div.choose {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 16px
}

.pc .pay > div.pay-mtd > div.title + div > div.active {
    border: 1px solid #c54836;
    box-shadow: 0 3px 6px #ffd4cc
}

.pc .pay > div.pay-mtd > div.title + div > div.active > div.choose {
    display: block
}

.pc .pay .main > div.default > div {
    margin-top: 27px
}

.pc .pay .main > div.default > div > div:first-child {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333
}

.pc .pay .main > div.default > div > div:nth-child(2):not(.numList) {
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.pc .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:first-child {
    box-sizing: border-box;
    width: 286px;
    height: 40px;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 12px
}

.pc .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:first-child > input {
    text-align: left;
    width: 260px;
    height: 30px
}

.pc .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:nth-child(2) {
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #919191
}

.pc .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:nth-child(2) img {
    width: 14px;
    height: 14px;
    margin-right: 6px
}

.pc .pay .main > div.default > div > div:nth-child(2).numList {
    display: block
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:first-child {
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div {
    cursor: pointer;
    width: 131px;
    height: 79px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative;
    margin: 0 20px 20px 0
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div > div:first-child {
    text-align: center;
    line-height: 79px;
    font-size: 18px;
    font-weight: 400;
    color: #333
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div > div.choose {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 16px
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div.active {
    border: 1px solid #c54836;
    box-shadow: 0 3px 6px #ffd4cc
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div.active > div.choose {
    display: block
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) {
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:first-child {
    box-sizing: border-box;
    width: 286px;
    height: 40px;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 12px
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:first-child > input {
    text-align: left;
    width: 260px;
    height: 30px
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:nth-child(2) {
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #919191
}

.pc .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:nth-child(2) img {
    width: 14px;
    height: 14px;
    margin-right: 6px
}

.pc .pay .main > div.default > div.btn {
    margin-top: 30px;
    width: 286px;
    height: 50px;
    background: #ffb4a1;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px
}

.pc .pay .main > div.default > div.btn.active {
    cursor: pointer;
    background: linear-gradient(90deg, #ff7c27, #ff3e13)
}

.pc .pay .main > div.order {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pc .pay .main > div.order > div.left {
    text-align: left
}

.pc .pay .main > div.order > div.left > div:first-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #0096ff
}

.pc .pay .main > div.order > div.left > div.txt {
    margin-top: 15px
}

.pc .pay .main > div.order > div.left > div.txt > div:first-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #3a97e5
}

.pc .pay .main > div.order > div.left > div.txt > div:not(:first-child) {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #666
}

.pc .pay .main > div.order > div.left > div.card {
    margin-top: 15px;
    width: 385px;
    height: 237px;
    background-color: #000;
    border: 1px solid transparent;
    opacity: 1;
    border-radius: 6px
}

.pc .pay .main > div.order > div.left > div.card > div:first-child {
    margin: 22px 0 22px 61px;
    font-size: 14px;
    font-weight: 700;
    color: #fff
}

.pc .pay .main > div.order > div.left > div.card > div:not(:first-child) {
    margin: 0 10px 10px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pc .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.pc .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child > div:first-child {
    margin-right: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #fff
}

.pc .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child > div:nth-child(2) {
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    color: #ffd90e
}

.pc .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child > div:nth-child(3) {
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 17px;
    color: #fff
}

.pc .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:last-child {
    cursor: pointer;
    width: 40px;
    height: 18px;
    border: 1px solid #fff;
    opacity: 1;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    text-align: center
}

.pc .pay .main > div.order > div.left > div.btn {
    display: none;
    cursor: pointer;
    text-align: center;
    width: 138px;
    height: 42px;
    background: linear-gradient(91deg, #ff7d29, #ff4014);
    opacity: 1;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin: 14px auto
}

.pc .pay .main > div.order > div.right {
    transform: scale(.8);
    width: 435px;
    height: 465px;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .16)
}

.pc .pay .main > div.order > div.right > div:first-child {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.pc .pay .main > div.order > div.right > div:first-child > div:first-child, .pc .pay .main > div.order > div.right > div:first-child > div:last-child {
    width: 30px;
    height: 30px
}

.pc .pay .main > div.order > div.right > div:first-child > div:last-child {
    transform: rotate(180deg)
}

.pc .pay .main > div.order > div.right > div:first-child > div:nth-child(2) > div:first-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333
}

.pc .pay .main > div.order > div.right > div:first-child > div:nth-child(2) > img {
    margin-top: 5px;
    width: 320px;
    height: 281px
}

.pc .pay .main > div.order > div.right > div:first-child > div:nth-child(2) > div:last-child {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333
}

.pc .pay .main > div.order > div.right > div:last-child {
    position: absolute;
    top: -37px;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -37px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 50%
}

.pc .record table {
    width: 900px;
    margin: 50px auto;
    border-collapse: collapse
}

.pc .record table > tr {
    background: #f2f2f2
}

.pc .record table > tr:nth-child(2n) {
    background: #fff
}

.pc .record table th {
    height: 60px
}

.pc .record table td {
    height: 50px
}

.pc .record .nodata {
    width: 200px;
    margin: 150px auto
}

.pc .mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5)
}

.pc .mask > .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 288px;
    margin-top: -180px;
    margin-left: -250px;
    border-radius: 10px;
    background: #fff;
    padding: 20px 50px
}

.pc .mask > .popup > div.close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    transition: all .3s
}

.pc .mask > .popup > div.close:hover {
    transform: rotate(180deg)
}

.pc .mask > .popup > div.title {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #333
}

.pc .mask > .popup > div.main {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
    text-align: left
}

.pc .mask > .popup > div.main img {
    width: 20px;
    height: 20px;
    vertical-align: bottom
}

.pc .mask > .popup > div.btn-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pc .mask > .popup > div.btn-box > div {
    cursor: pointer;
    width: 190px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px
}

.pc .mask > .popup > div.btn-box > div:nth-child(2) {
    color: #fff;
    background: linear-gradient(90deg, #ff7c27, #ff3e13)
}

* {
    box-sizing: border-box
}

input {
    outline: none;
    border: none
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0
}

img {
    width: 100%;
    height: 100%
}

.h5 {
    margin: 0 auto;
    width: 100vw;
    background: #fff;
    box-shadow: 0 0 32px rgba(0, 0, 0, .05);
    border: 1px solid transparent;
    opacity: 1
}

.h5 > .title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.h5 > .title > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end
}

.h5 > .title > div:first-child > div:first-child {
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #333;
    margin-right: 10px
}

.h5 > .title > div:first-child > div:nth-child(2) {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 20px;
    color: #919191
}

.h5 > .title > div:nth-child(2) {
    cursor: pointer;
    width: 90px;
    height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333;
    text-align: center
}

.h5 .pay {
    margin-top: 34px;
    padding: 0 10px
}

.h5 .pay > div.pay-mtd > div.title {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #919191
}

.h5 .pay > div.pay-mtd > div.title + div {
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap
}

.h5 .pay > div.pay-mtd > div.title + div > div {
    cursor: pointer;
    width: 132px;
    height: 100px;
    margin-right: 22px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative
}

.h5 .pay > div.pay-mtd > div.title + div > div > div:first-child {
    width: 36px;
    height: 36px;
    margin: 23px auto 0
}

.h5 .pay > div.pay-mtd > div.title + div > div > div:nth-child(2) {
    margin-top: 3px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333
}

.h5 .pay > div.pay-mtd > div.title + div > div > div.choose {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 16px
}

.h5 .pay > div.pay-mtd > div.title + div > div.active {
    border: 1px solid #c54836;
    box-shadow: 0 3px 6px #ffd4cc
}

.h5 .pay > div.pay-mtd > div.title + div > div.active > div.choose {
    display: block
}

.h5 .pay .main > div.default > div {
    margin-top: 27px
}

.h5 .pay .main > div.default > div > div:first-child {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333
}

.h5 .pay .main > div.default > div > div:nth-child(2):not(.numList) {
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap
}

.h5 .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:first-child {
    box-sizing: border-box;
    width: 286px;
    height: 40px;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 12px
}

.h5 .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:first-child > input {
    text-align: left;
    width: 260px;
    height: 30px
}

.h5 .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:nth-child(2) {
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #919191
}

.h5 .pay .main > div.default > div > div:nth-child(2):not(.numList) > div:nth-child(2) img {
    width: 14px;
    height: 14px;
    margin-right: 6px
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList {
    display: block
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:first-child {
    margin-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div {
    cursor: pointer;
    width: 131px;
    height: 79px;
    background: #fff;
    border: 1px solid #e7e7e7;
    opacity: 1;
    border-radius: 4px;
    position: relative;
    margin: 0 20px 20px 0
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div > div:first-child {
    text-align: center;
    line-height: 79px;
    font-size: 18px;
    font-weight: 400;
    color: #333
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div > div.choose {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 16px
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div.active {
    border: 1px solid #c54836;
    box-shadow: 0 3px 6px #ffd4cc
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:first-child > div.active > div.choose {
    display: block
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) {
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:first-child {
    box-sizing: border-box;
    width: 286px;
    height: 40px;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 12px
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:first-child > input {
    text-align: left;
    width: 260px;
    height: 30px
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:nth-child(2) {
    margin-left: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #919191
}

.h5 .pay .main > div.default > div > div:nth-child(2).numList > div:nth-child(2) > div:nth-child(2) img {
    width: 14px;
    height: 14px;
    margin-right: 6px
}

.h5 .pay .main > div.default > div.btn {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 286px;
    height: 50px;
    background: #ffb4a1;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px
}

.h5 .pay .main > div.default > div.btn.active {
    cursor: pointer;
    background: linear-gradient(90deg, #ff7c27, #ff3e13)
}

.h5 .pay .main > div.order {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap
}

.h5 .pay .main > div.order > div.left {
    text-align: left
}

.h5 .pay .main > div.order > div.left > div:first-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #0096ff
}

.h5 .pay .main > div.order > div.left > div.txt {
    margin-top: 15px
}

.h5 .pay .main > div.order > div.left > div.txt > div:first-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #3a97e5
}

.h5 .pay .main > div.order > div.left > div.txt > div:not(:first-child) {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #666
}

.h5 .pay .main > div.order > div.left > div.card {
    margin-top: 15px;
    width: 90vw;
    height: 200px;
    background-color: #000;
    border: 1px solid transparent;
    opacity: 1;
    border-radius: 6px
}

.h5 .pay .main > div.order > div.left > div.card > div:first-child {
    margin: 12px 0 12px 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff
}

.h5 .pay .main > div.order > div.left > div.card > div:not(:first-child) {
    margin: 0 10px 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.h5 .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.h5 .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child > div:first-child {
    margin-right: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #fff
}

.h5 .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child > div:nth-child(2) {
    font-size: 12px;
    font-weight: 800;
    line-height: 17px;
    color: #ffd90e
}

.h5 .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:first-child > div:nth-child(3) {
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 17px;
    color: #fd2c2c
}

.h5 .pay .main > div.order > div.left > div.card > div:not(:first-child) > div:last-child {
    cursor: pointer;
    width: 40px;
    height: 18px;
    border: 1px solid #fff;
    opacity: 1;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    text-align: center
}

.h5 .pay .main > div.order > div.left > div.btn {
    display: none;
    cursor: pointer;
    text-align: center;
    width: 138px;
    height: 42px;
    background: linear-gradient(91deg, #ff7d29, #ff4014);
    opacity: 1;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin: 14px auto
}

.h5 .pay .main > div.order > div.right {
    margin-top: 20px;
    width: 100vw;
    height: 465px;
    position: relative;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .16)
}

.h5 .pay .main > div.order > div.right > div:first-child {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.h5 .pay .main > div.order > div.right > div:first-child > div:first-child, .h5 .pay .main > div.order > div.right > div:first-child > div:last-child {
    width: 30px;
    height: 30px
}

.h5 .pay .main > div.order > div.right > div:first-child > div:last-child {
    transform: rotate(180deg)
}

.h5 .pay .main > div.order > div.right > div:first-child > div:nth-child(2) > div:first-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333
}

.h5 .pay .main > div.order > div.right > div:first-child > div:nth-child(2) > img {
    margin-top: 5px;
    width: 200px
}

.h5 .pay .main > div.order > div.right > div:first-child > div:nth-child(2) > div:last-child {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333
}

.h5 .pay .main > div.order > div.right > div:last-child {
    display: none;
    position: absolute;
    top: -37px;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -37px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 50%
}

.h5 .record table {
    width: 95vw;
    margin: 50px auto;
    border-collapse: collapse
}

.h5 .record table > tr {
    background: #f2f2f2
}

.h5 .record table > tr:nth-child(2n) {
    background: #fff
}

.h5 .record table th {
    height: 60px
}

.h5 .record table td {
    width: 18vw;
    height: 50px;
    overflow: hidden
}

.h5 .mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5)
}

.h5 .mask > .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -180px;
    margin-left: -150px;
    border-radius: 10px;
    background: #fff;
    padding: 15px 20px
}

.h5 .mask > .popup > div.close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    transition: all .3s
}

.h5 .mask > .popup > div.close:hover {
    transform: rotate(180deg)
}

.h5 .mask > .popup > div.title {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #333
}

.h5 .mask > .popup > div.main {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
    text-align: left
}

.h5 .mask > .popup > div.main img {
    width: 20px;
    height: 20px;
    vertical-align: bottom
}

.h5 .mask > .popup > div.btn-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.h5 .mask > .popup > div.btn-box > div {
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background: #fff;
    border: 1px solid #d8dce7;
    border-radius: 6px
}

.h5 .mask > .popup > div.btn-box > div:nth-child(2) {
    color: #fff;
    background: linear-gradient(90deg, #ff7c27, #ff3e13)
}

* {
    margin: 0;
    padding: 0
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50
}

.weixin {
    background-image: url(../img/weixin.99b63c49.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #000
}

.loading-mask, .weixin {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0
}

.loading-mask {
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999
}

.loading-mask > div {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px
}

.loading-mask > div > img {
    width: 100%;
    height: 100%
}
